<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Send Data</title>
</head>
<body>
<h1>Send Message</h1>
<!-- action: Form이 데이터를 보낼 URL -->
<!-- method: 어떤 요청을 보낼지 -->
<!-- HTTP GET : 데이터를 조회하는 요청에 적용하는 메서드 -->
<!-- HTTP POST : 데이터를 보내는 요청에 적용하는 메서드 -->
<form action="/receive" method="post">
    <!-- 메세지를 보내기위한 칸 만들기 -->
    <label for="message-input">Message:
        <input type="text" id="message-input" name="message">
    </label><br>
    <!-- 양식 제출 버튼 -->
    <input type="submit" value="Send Message">
</form>
</body>
</html>